<form class="form-search clearfix" ng-submit="search(search_form, search_term)" name="search_form" novalidate>
    <div class="col-sm-12 text-center padding-15">
        <div class="col-sm-12">
            <div class="input-group search-block">
                <input type="text" class="form-control height-50" required ng-model="search_term" name="country" id="autocomplete-dynamic" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default blue-bg height-50" type="submit"><i class="fa fa-search"></i> Search</button>
                </span>
            </div>
        </div>               
    </div>
</form>